<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
          <string>https://192.168.100.5:7001/uploads/1504161246130ngvlcsIOS_bbb.ipa</string>
				</dict>
        <dict> 
            <key>kind</key>  
            <string>full-size-image</string>  
            <key>needs-shine</key>  
            <true/>  
            <key>url</key>  
            <string>http://192.168.95.204:7001/uploads/icon/4234fb60-b196-48ff-915b-931ff545b2a3.png</string> 
          </dict>
				<dict> 
					<key>kind</key>  
					<string>display-image</string>  
					<key>needs-shine</key>  
					<true/>  
					<key>url</key>  
					<string>https://192.168.100.5:7001/uploads/icon/4234fb60-b196-48ff-915b-931ff545b2a3.png</string> 
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cmos.ngvlcs.ngvlcsIOS</string>
				<key>bundle-version</key>
				<string>1.2.15</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>ngvlcsIOS_beta</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
